.checkout__section {

    display: grid;
    grid-template-areas: "first second third";
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
    gap: 2rem;
}

.delivery__sec {
    background: linear-gradient($secondary, $primary, );
    border-radius: 1rem;
    border: 2px solid $primary;
    border-bottom: 0;





    .delivery__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 1.5rem;
        border-bottom: 2px solid $secondary;
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);

        .title {
            font-size: 2rem;
            font-weight: 800;
            color: white;

        }

        a {
            &:hover {
                color: $yellow;
            }
        }
    }
}

.tabset {
    padding: 1.5rem;
    display: grid;
    gap: 1.5rem;


    input.input__tab {
        display: block;
        /* "enable" hidden elements in IE/edge */
        position: absolute;
        /* then hide them off-screen */
        left: -100%;

    }

    ul {
        position: relative;

        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        text-align: center;




        li {
            background: $primary;

            &:first-child {
                border-radius: 2rem 0 0 2rem;
            }

            &:last-child {
                border-radius: 0 2rem 2rem 0;
            }

            label {
                -webkit-touch-callout: none;
                -webkit-user-select: none;
                -khtml-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                display: inline-block;
                padding: 0.8rem 0;
                color: $gray-300;
                border-radius: 2rem;
                font-weight: 700;
                width: 100%;
                cursor: pointer;
                user-select: none;

            }
        }
    }

    div {
        position: relative;


        &.heading {
            font-weight: 800;
            font-size: 1.4rem;
        }

        section {
            display: none;
            gap: 1rem;

            p {
                color: $white;
            }

            .map {

                margin: 0;
                border-radius: 0 0 1rem 1rem;
                overflow: hidden;
            }





        }
    }
}


.sec__title {
    font-weight: 800;
    font-size: 1.4rem;
    color: $gray-200;
}

.tabset>input:nth-child(1):checked~ul li:nth-child(1) label,
.tabset>input:nth-child(2):checked~ul li:nth-child(2) label,
.tabset>input:nth-child(3):checked~ul li:nth-child(3) label {
    background: $yellow;

    color: $primary;

}


.tabset>input:nth-child(1):checked~div>section:nth-child(1),
.tabset>input:nth-child(2):checked~div>section:nth-child(2),
.tabset>input:nth-child(3):checked~div>section:nth-child(3) {
    display: grid
}


.form__group {
    display: grid;
    gap: 1rem;

    &.add__addr {
        gap: 0;

        .sec__title {
            margin-bottom: 1rem;
        }
    }

    &.time__grid {
        grid-template-columns: 1fr 1fr;
        gap: 0 1rem;
        grid-template-areas:
            "now time"
            "chose-time time";

    }

    .form__field {
        display: flex;
        align-items: center;

        input[type=radio] {
            position: relative;
            left: 0.5rem;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            border: 2px solid $gray-400;
            position: absolute;
            z-index: 2;
            margin: 0;
            padding: 0;



            &:checked {

                border: 2px solid $yellow;
                background-color: $yellow;

                &~label {
                    background: $secondary;
                    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
                    


                }
            }
        }

        label {
            font-size: 0.9rem;
            font-weight: 300;
            color: $white;
            padding: 0.7rem 0.7rem 0.7rem 2rem;
            border-radius: 0.5rem;
            position: relative;
            font-size: 0.9rem;
            font-weight: 500;
            color: #fff;
            width: 100%;
            user-select: none;
            cursor: pointer;

        }

        &.now {
            grid-area: now;
        }



        &.chose-time {
            grid-area: chose-time;
        }


    }

    .form__field__add {
        

        &.time {
            grid-area: time;


        }
    }


}

.form__group__add {
    display: grid;
    gap: 1rem;

    grid-template-rows: auto;

    &.address__form {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "street street street street"
            "house house appartment appartment"
            "entrance floor code code"
        ;
    }

    &.client__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "name phone"
            "comment comment"
    }

    &.login__form {
        grid-template-columns: 1fr;

    }
}

.form__field__add {
    display: flex;
    align-items: center;
    background-color: $primary;
    border-radius: 1.5rem;
    border: 2px solid $gray-700;


    &:active {
        transform: scale(0.99);
        transition: .1s;
    }

    &.bg_unset {
        background-color: transparent;
        border: 0;
        justify-self: end;




        label {
            cursor: pointer;
            padding: 0;
            

            &:hover {
                color: $yellow;
            }
        }
    }

    &.error,
    &.has-error {
        position: relative;
        border-color: Crimson;
    }

    &.street {
        grid-area: street;
    }

    &.house {
        grid-area: house;
    }

    &.appartment {
        grid-area: appartment;
    }

    &.entrance {
        grid-area: entrance;
    }

    &.floor {
        grid-area: floor;
    }

    &.client-code {
        grid-area: code;
    }

    &.name {
        grid-area: name;
    }

    &.phone {
        grid-area: phone;
    }

    &.comment {
        display: grid;
        grid-area: comment;
        height: unset;

        label {
            padding: 1rem 1rem 0 1rem;
        }
    }


    &:focus-within {
        border-color: $yellow;
    }


    &:focus-within label {
        color: $yellow;
    }

    input {
        padding: 1rem 0;
        background-color: transparent;
        color: $gray-300;
        font-weight: 600;
        width: 100%;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $gray-300;
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $gray-300;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $gray-300;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {

            filter: invert(1) contrast(0.79) hue-rotate(171deg);
         
            transition: background-color 5000s ease-in-out 0s;
         
            border-radius: 2rem;


        }


        &:focus {
            outline: none;
        }

        &:focus-visible {
            outline: -webkit-focus-ring-color auto 0px;
        }

        // Timepicker
        &[type="time"] {
            border: none;
            width: 100%;
            padding: 0;
            height: 100%;
            min-height: 3.1rem;


            &::-webkit-datetime-edit-fields-wrapper {
                display: flex;

            }

            &::-webkit-datetime-edit-text {

                padding: 4px 4px;

            }

            &::-webkit-datetime-edit-hour-field {
                color: $white;
                padding: 1rem;

                &:focus {
                    background: $yellow;
                    color: $primary;
                }
            }

            &::-webkit-datetime-edit-text {
                padding: 1rem 4px;
            }

            &::-webkit-datetime-edit-minute-field {
                color: $white;
                padding: 1rem;

                &:focus {
                    background: $yellow;
                    color: $primary;
                }
            }

            &::-webkit-calendar-picker-indicator {
                filter: invert(0.5) sepia(2) saturate(8) hue-rotate(10deg);
                font-size: 2rem;
                padding-right: 0.5rem;
                cursor: pointer;

            }

        }
    }

    .text-danger {
        position: absolute;
        top: -1rem;
        right: 0.5rem;
        font-size: 0.8rem;
        font-weight: 300;
        color: Crimson;
        text-transform: lowercase;
    }

    textarea {
        background-color: transparent;
        border: 0;
        padding: 1rem;
        color: $gray-300;
        font-size: 0.9rem;
        font-weight: 600;

        &:focus {
            outline: none;
        }
    }

    label {
        padding: 0 1rem;
        font-size: 0.8rem;
        font-weight: 500;
        color: white;

        &:focus-within {
            color: $yellow;
        }

    }


}

.text-danger {

    font-size: 1rem;
    font-weight: 300;
    color: Crimson;
    text-transform: lowercase;
    text-align: right;
}



.privacy {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 300;
    color: $white;

    a {

        text-decoration: underline;
        // &:hover {

        // }
    }
}

button.primary__button {
    background: transparent;
    color: $yellow;
    padding: 1rem;
    border: 2px solid $yellow;
    border-radius: 2rem;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 800;
    cursor: pointer;

    &:hover {
        background-color: $yellow;
        color: $secondary;
    }
}

@media (max-width: $sm) {
    .checkout__section {
        grid-template-columns: 1fr;
        grid-template-areas: "first"
            "second"
            "third"
        ;


    }

    .delivery__sec {
        border-radius: 0.5rem;

        .delivery__heading {
            flex-direction: column;
            align-items: flex-start;
            padding: 1rem;

            .title {
                font-size: 1.4rem;
            }
        }

        .tabset {
            padding: 1rem;
            gap: 1rem;


        }
    }

    .form__group__add.address__form {
        grid-template-areas:
            "street street street street"
            "house house house house"
            "appartment appartment appartment appartment"
            "entrance entrance floor floor"
            "code code code code";
    }

    .form__group__add.client__form {

        grid-template-areas:
            "name name"
            "phone phone"
            "comment comment";
    }

    .form__group.time__grid {
        gap: 1rem;
        grid-template-columns: 1fr;
        grid-template-areas:
            "now"
            "chose-time"
            "time";

    }

    .sec__title {
        font-size: 1rem;

    }
    .form__field__add input[type=time]{
        margin-right: 1rem;
    }
    

}

@media (min-width: $sm) and (max-width: $md) {
    .checkout__section {
        grid-template-columns: 1fr;



    }

    .delivery__sec {
        border-radius: 0.5rem;

        .delivery__heading {
            flex-direction: row;
            align-items: center;
            padding: 1rem;

            .title {
                font-size: 1.4rem;
            }
        }

        .tabset {

            padding: 1rem;
            gap: 1rem;

            .sec__title {
                font-size: 1rem;
            }

            div {
                section {
                    gap: 1rem;
                }
            }
        }
    }

    .form__group__add.address__form {
        grid-template-areas:
            "street street street street"
            "house house appartment appartment"
            "entrance entrance floor floor"
            "code code code code";

    }

    .form__group__add.client__form {

        grid-template-areas:
            "name name"
            "phone phone"
            "comment comment";
    }

    .form__group.time__grid {
        gap: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "now chose-time"
            "time time ";

    }
}

@media (min-width: $md) and (max-width: $lg) {
    .checkout__section {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        grid-template-areas: "first second"
            "third third";
    }


}

@media (min-width: $lg) and (max-width: $xl) {
    .checkout__section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "first second"
            "third third";


    }

    .delivery__sec {
        .delivery__heading {
            padding: 1rem;
        }
    }

    .tabset {
        gap: 1rem;
        padding: 1rem;

        div {
            section {
                gap: 1rem;
            }
        }
    }


    .form__group__add.address__form {
        grid-template-columns: repeat(6, 1fr);
        grid-template-areas:
            "street street street street street street"
            "house house house appartment appartment appartment"
            "entrance entrance floor floor code code"
        ;
    }

    .form__field__add {
        height: 3rem;


        label {
            padding: 0 0.5rem;
        }
    }
}

.first {
    grid-area: first;
}

.second {
    grid-area: second;
}

.third {
    grid-area: third;
}

@-webkit-keyframes autofill {

    0%,
    100% {
        color: $primary;
        background: transparent;
    }
}

input:-webkit-autofill {
    -webkit-animation-delay: 1s;
    /* Safari support - any positive time runs instantly */
    -webkit-animation-name: autofill;
    -webkit-animation-fill-mode: both;
}
