@media (min-width: $md ) and (max-width: $lg) {
    html {

        /* width */
        ::-webkit-scrollbar {
            padding: 1rem;
            width: 0;
            height: 0.3rem;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: $secondary;
            border-radius: 1rem;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: orange;
            border-radius: 1rem;
        }


        /* Handle on hover */
        //   ::-webkit-scrollbar-thumb:hover {
        //     background: #b30000; 
        //   }

    }



    .header {


        .logo {
            font-size: 2rem;
            order: 1;
        }
        .phone{
            order: 2;
        }
        .address{
            order: 3;
        }
        .phone a,
        .address p {
            font-size: 1rem;

           
        }

        // Гамбургер
        .resp__nav {
            display: grid;
            position: relative;
            order: 4;
            width: 30px;


            #menu__toggle {
                display: none;
                opacity: 0;

            }

            #menu__toggle:checked~.menu__btn>span {
                transform: rotate(45deg);
            }

            #menu__toggle:checked~.menu__btn>span::before {
                top: 0;
                transform: rotate(0);
            }

            #menu__toggle:checked~.menu__btn>span::after {
                top: 0;
                transform: rotate(90deg);
            }

            #menu__toggle:checked~.menu__box {
                visibility: visible;
                right: 0;
            }

            .menu__btn {
                display: flex;
                align-items: center;
                position: initial;
                top: 20px;
                right: 20px;
                width: 26px;
                height: 26px;
                cursor: pointer;
                z-index: 5;
                
            }

            .menu__btn>span,
            .menu__btn>span::before,
            .menu__btn>span::after {
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;

                background-color: $yellow;

                transition-duration: .25s;
            }

            .menu__btn>span::before {
                content: '';
                top: -0.7rem;
            }

            .menu__btn>span::after {
                content: '';
                top: 0.7rem;
            }

            .menu__box {
                display: flex;
                flex-direction: column;
                position: fixed;
                visibility: hidden;
                top: 0;
                right: -100%;

                width: 300px;
                height: 100%;

                margin: 0;
                padding: 80px 0;
                


                background-color: $primary;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

                transition-duration: .25s;
                z-index: 4;

                

                .menu__item {
                    width: 100%;

                    & a,
                    ul li a {
                        display: inline-block;
                        padding: 0.5rem 1rem;
                        font-size: 1rem;

                    }

                    &.user {
                        &>a {
                            display: none;
                        }

                        ul {
                            display: block;
                            position: relative;
                            padding: 0;
                            margin: 0;
                            border: 0;
                        }
                    }
                }
            }
        }

    }


    .cat__nav__sec {
        overflow-y: scroll;

        .cat__nav {
            justify-content: space-between;
            width: 100%;
            gap: 0.5rem;

           
        }

        .cat__nav__cart {
            display: none;

        }
    }

    .menu__block {
        gap: 2rem;

        .menu__block__con {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;

            .item {
                padding: 1rem;

                .item__content {
                    .card__heading {
                        font-size: 1.5rem;
                    }
                }

            }
        }
    }
}



