body {
    padding: 0;
    margin: 0;
    background: $primary;
    font-family: 'Inter', sans-serif;


    :-webkit-any-link {
        text-decoration: none;
    }

    :focus-visible {
        color: $yellow;
    }

    :-webkit-any-link,
    :focus-visible,
    :-webkit-any-link:focus-visible {
        outline-offset: unset;
        outline: unset;

    }
}

a {
    color: $white;

    &:hover {
        color: $yellow;
    }
}





// Header
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;

    border-bottom: 2px solid $yellow;

    // background: $secondary;
    .logo {
        color: $white;
        font-size: 4rem;
        // line-height: 0;
        text-transform: uppercase;
        font-weight: 900;
    }

    .resp__nav {
        #menu__toggle {
            display: none;
        }
    }


    .phone,
    .address {
        span {
            color: $gray-400;
            font-size: 0.9rem;
            font-weight: 600;
        }

        a,
        p {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            justify-content: space-between;
            color: $white;
            font-size: 1.2rem;
            font-weight: 800;


            &:hover {
                color: $yellow;
            }
        }
    }

    .user__log {
        display: none;
        color: white;

        &:hover,
        &:hover a {
            color: $yellow;
            border-color: $yellow;
        }
    }

    .resp__nav {

        ul {
            display: flex;

            width: 100%;
            justify-content: flex-end;
            align-items: center;
            gap: 1.2rem;
            position: relative;

            li {

                font-weight: 600;
                text-transform: uppercase;

                a {
                    display: flex;
                    gap: 0.3rem;
                    align-items: center;

                    &:hover {
                        color: $yellow;

                    }

                }

                ul {
                    display: grid;
                    gap: 0.1rem;

                    li {
                        a {
                            font-size: 0.8rem;
                        }
                    }
                }



                &.user>ul {
                    display: none;
                }

                &:hover ul {
                    position: absolute;
                    display: flex;
                    justify-content: space-between;
                    bottom: 0;
                    top: -0.5rem;
                    right: 0;
                    border-radius: 0.5rem;
                    background: $primary;
                    border: 2px solid $secondary;
                    padding: 1rem;
                    color: $gray-400;
                    max-width: fit-content;
                    z-index: 10;
                    gap: 1rem;

                }
            }

        }
    }

}

// Header end


// Category navigation 
.cat__nav__sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    background: $primary;
    position: sticky;
    top: 0;
    z-index: 2;
    box-shadow: 0 10px 15px -3px rgb(31 41 55), 0 4px 6px -2px rgb(0 0 0 / 78%);
    // scroll 

    transition: 2s;

    /* width */
    ::-webkit-scrollbar {
        padding: 1rem;
        width: 0;
        height: 0.3rem;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: $secondary;
        border-radius: 1rem;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $yellow;
        border-radius: 1rem;
    }


    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: orange;
    }

    // scroll end 

    .cat__nav {
        gap: 1rem;
        display: flex;
        flex-direction: row;
        text-align: center;


        .cat__nav__con {
            display: flex;
            flex-direction: row;
            gap: 0.5rem;
            align-items: center;
            padding: 1rem 1rem;
            background: $secondary;
            border-radius: 1rem;
            color: $gray-100;
            font-weight: 900;
            text-transform: uppercase;
            border: 2px solid $gray-400;
            transition: 0.3s linear;


            .nav__con__icon {
                font-size: 2rem;
                line-height: 0;
                font-weight: normal;
            }

            &:hover {
                border-color: $white;
            }

            &.active,
            &:focus {
                border-color: $yellow;
                color: $yellow;
                outline: unset;
            }

            &:active {
                transform: scale(1.1);

            }

        }

    }

    .cat__nav__cart {
        border: 2px solid $yellow;
        border-radius: 1rem;
        &:active{
            transform: scale3d(1.1);
            transition: .1s;
        }

        a {
            display: flex;
            flex-direction: row;
            position: relative;
            align-items: center;
            gap: 0.5rem;
            border-radius: 0.8rem;



            .cart__name {
                font-weight: 900;
                text-transform: uppercase;
                padding: 1rem 0 1rem 1rem;
                color: $yellow;

                span {
                    display: none;
                }
            }

            .cart__icon {
                color: $yellow;
                padding-right: 1rem;

                span::after {
                    position: absolute;
                    top: 5px;
                    right: 5px;
                    background: $yellow;
                    padding: 0.3rem;
                    border-radius: 0.6rem;
                    font-size: 0.7rem;
                    font-weight: 900;
                    line-height: 0.3rem;
                    color: $primary;
                    border: 1px solid $primary;
                    content: attr(data-num);
                }
            }

            &:hover {
                background: $yellow;
                color: $white;

            }

            &:hover .cart__name,
            &:hover .cart__icon {
                color: $primary;
            }


        }

    }
    

}


// Category navigation end


// Menu block


.menu__block {
    display: grid;
    padding: 1.5rem 1rem;

    gap: 2rem;

    .heading {
        font-size: 3.4rem;
        font-weight: 900;
        color: $white;
        text-transform: uppercase;

        span {
            font-weight: normal;
        }

    }


    .menu__block__con {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 1.5rem;
    }

    .item {
        display: grid;
        padding: 1.5rem;
        background: linear-gradient($secondary, $primary);
        box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
        border: 3px solid $primary;
        border-radius: 1rem;
        transition: 0.3s linear;





        .item__img__block {
            position: relative;
            flex: none;

            img {
                transition: 0.4s linear;



            }

            .item__button {
                position: absolute;
                right: 0;

                &:active {
                    transform: scale(1.1);
                    transition: .1s;
                }

                display: flex;
                align-items: center;
                padding: 0.6rem;
                background: $secondary;
                border: 2px solid;
                border-radius: 3rem;
                font-weight: 700;
                font-family: inherit;
                font-size: 1rem;
                transition: 0.4s ease-out;
                cursor: pointer;
                text-transform: uppercase;

                &.add-to-cart {
                    bottom: -0.5rem;
                    border-color: $yellow;
                    color: $yellow;
                }

                &.rm-from-cart {
                    display: none;
                    bottom: 3.5rem;
                    color: $gray-400;
                    border-color: $gray-400;

                }
            }

        }

        &:hover {
            border-color: $gray-500;
        }


        &:hover img {
            transform: translateZ(0) rotate(-7deg);
        }

        &:hover .item__button.add-to-cart {
            background: $yellow;
            color: $primary;
            box-shadow: -3px -3px 20px 1px #1f2937;
        }

        &:hover .item__button.rm-from-cart {
            border-color: $gray-400;
            background: $gray-400;
            color: $primary;
            box-shadow: -3px -3px 20px 1px #1f2937;
        }

        & .item__button.add-to-cart:hover::before,
        & .item__button.add-to-cart:focus::before {
            content: "В корзину";
        }

        & .item__button.rm-from-cart:hover::before,
        .item__button.rm-from-cart:focus::before {
            content: "Удалить";
        }

        &.in_cart,
        &.in_cart:hover,
        &.in_cart:hover .item__content .card__heading .card__cat {
            border-color: $yellow;
        }
        &.in_cart .item__button.rm-from-cart{
            display: flex;
        }

        .item__content {
            display: grid;
            gap: 1rem;
            color: white;

            // input for size 

            input[type=checkbox] {
                display: none;

                &~.pizza__size .pizza__item label {
                    display: grid;
                    grid-template-columns: 1fr 1fr;

                    text-align: center;
                    cursor: pointer;
                    user-select: none;
                    font-weight: 600;



                    &:before,
                    &:after {
                        padding: 0.6rem 0;
                        color: $gray-300;
                        font-weight: 600;
                    }

                    &:after {
                        content: attr(data-standart);

                    }

                    &:before {

                        content: attr(data-big);
                    }

                }

                &~.pizza__size .pizza__item label:before {
                    background: $yellow;
                    color: $primary;
                    border-radius: 2rem;
                }

                &:checked~.pizza__size .pizza__item label:after {
                    background: $yellow;
                    color: $primary;
                    border-radius: 2rem;
                }

                &:checked~.pizza__size .pizza__item label:before {

                    background: transparent;
                    border-radius: 2rem;
                    color: $gray-300;
                }



                &~.main__var {
                    display: grid;
                }

                &~.alt__var {
                    display: none;
                }

                &:checked~.alt__var {
                    display: grid;
                }

                &:checked~.main__var {
                    display: none;
                }

            }


            .pizza__size {

                background: $primary;
                border-radius: 2rem;
            }



            .card__heading {
                display: flex;
                flex-direction: column;
                gap: 0.3rem;
                font-size: 2.2rem;
                font-weight: 800;
                color: $white;

                .card__cat {
                    font-size: 1rem;
                    color: $gray-400;
                }
            }

            .card__desc {
                font-size: 0.9rem;
                font-weight: 200;
                color: $gray-400;
            }

            .main__var,
            .alt__var {
                display: grid;
                gap: 1rem;


                .card__comp {
                    font-size: 0.8rem;
                    color: $gray-400;
                    font-weight: 200;
                    line-height: 1rem;

                    span {
                        color: $gray-300;
                        font-weight: 300;
                    }
                }

                .card__price {
                    color: $white;
                    font-size: 2rem;
                    font-weight: 900;
                }

            }

        }




    }
}

// Menu block end



// Footer
.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 1rem;
    margin-top: 2rem;
    border-top: 3px solid $yellow;

    .logo {
        font-size: 3rem;
        color: $white;
        font-weight: 900;
        text-transform: uppercase;
    }

    .phone {
        display: flex;
        flex-direction: column;
        color: $gray-400;
        font-size: 0.9rem;
        font-weight: 600;
        justify-content: space-evenly;

        a {
            color: orange;
            font-size: 1.2rem;
            font-weight: 800;

            &:hover {
                color: $white;
            }
        }
    }
}



.main__image {
    padding: 1rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;


    .text {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 1rem;
        color: white;
        font-size: 4rem;
        font-weight: 800;
        text-transform: uppercase;
        background: $gray-700;
        width: 100%;
        height: 30vh;
        border-radius: 1rem;

    }


    img {
        border-radius: 1rem;
        filter: grayscale(0.5) opacity(30%);
        border: 2px solid $secondary;
        overflow: hidden;
    }

}

//Breadcrumbs

.internal__header {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
    gap: 0.5rem;


    .title {
        font-size: 2rem;
        color: $yellow;
        font-weight: 900;
    }

    .breadcrumbs ul {
        display: flex;
        gap: 0.5rem;

        li {
            font-weight: 200;
            font-size: 1rem;

            span {
                color: $white;
            }

            a {
                &:hover {
                    color: $yellow;
                }
            }

            &:after {
                content: '>';
                margin-left: 0.5rem;
                color: $yellow;
            }
        }

        &>li:last-child::after {
            content: '';
            margin: 0;
        }
    }
}

//Cart section
.cart__heading {
    padding: 0 1rem 2rem 1rem;
    font-weight: 800;
    font-size: 2rem;
    color: $white;
}

.cart__section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-auto-flow: column dense;
    padding: 0 1rem;
    gap: 4rem;

    .cart__empty {
        display: grid;
        grid-template-columns: 2fr 2fr;
        align-items: center;
        gap: 2rem;

        .cart__empty__photo {
            filter: invert(25%);
        }

        .cart__empty__text {
            display: grid;
            gap: 2rem;
            height: fit-content;



            .empty__header {
                font-size: 2rem;

                font-weight: 800;
                color: $gray-300;
            }

            .empty__text {
                color: $gray-400;
                font-size: 1.1rem;
                line-height: 1.7rem;
                font-weight: 300;
            }

            .empty__button {

                a {
                    font-weight: 600;
                    display: inline-block;
                    padding: 1rem;
                    border: 2px solid $yellow;
                    border-radius: 0.5rem;
                    color: $yellow;

                    &:hover {
                        color: $primary;
                        background: $yellow;

                    }
                }
            }

        }
    }

    .cart__result {
        display: grid;
        gap: 1rem;



        .cart__result__list {
            display: grid;
            gap: 1rem;

            .cart__item {
                display: grid;
                grid-template-columns: 1fr 6fr 2fr 2fr 1fr;
                gap: 1rem;
                padding: 0.5rem;
                background: $secondary;
                border: 2px solid $gray-600;
                border-radius: 1rem;
                transition: 0.3s linear;
                align-items: center;
                justify-content: space-between;

                &:hover {
                    border-color: $gray-400;
                }



                .cart__item__desc {

                    display: flex;
                    flex-direction: column;

                    .cart__item__title {
                        display: flex;
                        flex-direction: column;
                        font-size: 1.2rem;
                        font-weight: 800;
                        color: $white;
                        gap: 0.2rem;

                        span {
                            color: $yellow;
                            font-size: 0.9rem;
                        }

                    }


                }
            }
        }

        .cart__pricing {
            border-top: 3px solid $yellow;
            color: $white;
            padding: 1rem 0;
            display: flex;
            gap: 1rem;
            justify-content: flex-end;
            align-items: center;

            .cart__text {
                font-size: 1.6rem;
                font-weight: 300;

                span {
                    font-weight: 700;

                    &#total-price {
                        font-weight: 300;
                    }
                }

            }

            a {

                border: 2px solid $yellow;
                color: $yellow;
                padding: 1rem;
                border-radius: 0.5rem;
                text-transform: uppercase;
                font-weight: 800;

                &:hover {
                    background: $yellow;
                    color: $primary;
                }
            }
        }

        .cart__item__button {
            display: flex;
            align-items: center;
            gap: 0.5rem;

            border-radius: 1rem;


            .inline__button {
                .cart-totals {
                    display: flex;
                    align-items: center;

                    span {
                        font-size: 1.2rem;
                        font-weight: 800;
                        color: $white;
                        cursor: pointer;
                        padding: 5px;

                        &.count-minus {
                            order: 1;
                            &:active {
                                transform: scale(1.2);
                                transition: .1s;
                            }
                        }

                        &.count-plus {
                            order: 3;
                            &:active {
                                transform: scale(1.2);
                                transition: .1s;
                            }
                        }

                        &:hover {
                            color: $yellow;
                        }


                    }

                   

                    input {
                        order: 2;
                        border-radius: 1rem;
                        text-align: center;
                        background: transparent;
                        border: 0;
                        width: 3rem;
                        font-size: 1.2rem;
                        font-weight: 800;
                        color: $white;
                        -moz-appearance: textfield;
                        -webkit-appearance: textfield;
                        appearance: textfield;

                        &input[type=number] {
                            -moz-appearance: textfield;
                        }

                        &::-webkit-outer-spin-button,
                        &::-webkit-inner-spin-button {
                            -webkit-appearance: none;
                            margin: 0;
                        }
                    }

                    a {
                        padding: 1rem;
                        background-color: $gray-400;
                        border-radius: 2rem;
                        line-height: 0.5rem;
                        font-weight: 900;


                    }
                }
            }


        }

        .cart__item__price {
            color: $white;
            font-weight: 800;
            font-size: 1.2rem;

        }

        .cart__item__del {

            color: $yellow;
            cursor: pointer;
            text-align: center;

            &:hover,
            &:focus {
                color: $white;
            }

            &:active {
                transform: scale(1.1);
                transition: .1s;
            }

        }
    }

    .cart__offer {
        display: grid;
        grid-row: span 2;
        gap: 2rem;

        .cart__offer__heading {
            padding: 1rem 0;
            font-weight: 800;
            font-size: 2rem;
            color: $white;
        }

        .cart__cat__heading {

            color: $yellow;
            font-weight: 800;
            font-size: 1.6rem;
        }

        .cart__offer__list {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;


            .offer__item {
                display: grid;
                grid-template-columns: 1fr 1fr;



                .offer__content {
                    display: grid;

                    gap: 0.5rem;


                    .offer__title {
                        color: $gray-200;
                        font-weight: 700;
                        font-size: 1.1rem;
                    }

                    .offer__desc {
                        font-size: 0.8rem;
                        font-weight: 200;
                        color: $gray-400;
                    }
                }
            }

        }
    }



}

.cat__nav__cart.mobile {
    display: none;
}




.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;
    display: none;
    justify-content: center;
    align-items: center;

    &.active {
        display: flex;
    }

    .modal__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 2;
        background-color: #00000055;
    }

    .modal__window {
        box-shadow: 0 10px 15px -3px rgb(0 0 0 / 10%), 0 4px 6px -2px rgb(0 0 0 / 5%);
        position: relative;
        z-index: 3;
        min-width: 30vw;

        .modal__close {
            cursor: pointer;
            font-size: 1.4rem;
            color: $white;
            position: absolute;
            top: 0;
            right: 0;
            padding: 1rem;

            &:hover {
                color: $yellow;
            }
        }

        .modal__heading {
            padding: 1rem;
            display: flex;
            justify-content: space-between;
            border-bottom: 2px solid $yellow;
            align-items: center;

            .title {
                color: $white;
                font-size: 1.6rem;
                font-weight: 800;
            }
        }

        .modal__inner {


            a {
                font-size: 0.9rem;
                font-weight: 300;
            }

            button {
                background: transparent;
                border: 2px solid $yellow;
                color: $yellow;
                padding: 0.5rem 1rem;
                font-weight: 600;
                font-size: 1.1rem;
                border-radius: 2rem;

                &:hover {
                    background: $yellow;
                    color: $primary;
                }

            }


        }
    }
}

input {

    &#forgot_password,
    &#delivery,
    &#input__tab,
    &#tabset_register,
    &#tabset_login {
        display: none;

    }
}
