@media (min-width: $sm) and (max-width: $md) {
    html {

        /* width */
        ::-webkit-scrollbar {
            padding: 1rem;
            width: 0;
            height: 0.3rem;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: $secondary;
            border-radius: 1rem;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: orange;
            border-radius: 1rem;
        }


        /* Handle on hover */
        //   ::-webkit-scrollbar-thumb:hover {
        //     background: #b30000; 
        //   }

    }



    .header {
        display: grid;
        grid-template-columns: 14fr 14fr 14fr 1fr;

        .logo {
            font-size: 2rem;
        }

        .phone a,
        .address p {
            font-size: 0.9rem;

            span {
                display: none;
            }
        }

        // Гамбургер
        .resp__nav {
            display: grid;
            position: relative;
            order: 2;

            #menu__toggle {
                opacity: 0;
            }

            #menu__toggle:checked~.menu__btn>span {
                transform: rotate(45deg);
            }

            #menu__toggle:checked~.menu__btn>span::before {
                top: 0;
                transform: rotate(0);
            }

            #menu__toggle:checked~.menu__btn>span::after {
                top: 0;
                transform: rotate(90deg);
            }

            #menu__toggle:checked~.menu__box {
                visibility: visible;
                left: 0;
            }

            .menu__btn {

                align-items: center;
                
                width: 26px;
    

                cursor: pointer;
                z-index: 4;
            }

            .menu__btn>span,
            .menu__btn>span::before,
            .menu__btn>span::after {
                display: block;
                position: absolute;

                width: 100%;
                height: 2px;

                background-color: $yellow;

                transition-duration: .25s;
            }

            .menu__btn>span::before {
                content: '';
                top: -8px;
            }

            .menu__btn>span::after {
                content: '';
                top: 8px;
            }

            .menu__box {
                display: block;
                position: fixed;
                visibility: hidden;
                top: 0;
                left: -100%;

                width: 100%;
                height: 100%;

                margin: 0;
                padding: 80px 0;

                list-style: none;

                background-color: $primary;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

                transition-duration: .25s;
                z-index: 3;
            }

            .menu__item {
                display: block;
                padding: 12px 24px;

                color: #333;

                
                font-size: 20px;
                font-weight: 600;

                text-decoration: none;

                transition-duration: .25s;
            }

        }

    }


    .cat__nav__sec {
        overflow-y: scroll;
        .cat__nav__cart {
            display: none;
        }
    }

    .menu__block {
        gap: 2rem;

        .menu__block__con {
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
        }
    }
    
}
