@media (min-width: $sm) and (max-width: $md) {
    html {

        /* width */
        ::-webkit-scrollbar {
            padding: 1rem;
            width: 0;
            height: 0.3rem;
        }

        /* Track */
        ::-webkit-scrollbar-track {
            background: $secondary;
            border-radius: 1rem;
        }

        /* Handle */
        ::-webkit-scrollbar-thumb {
            background: orange;
            border-radius: 1rem;
        }


        /* Handle on hover */
        //   ::-webkit-scrollbar-thumb:hover {
        //     background: #b30000; 
        //   }

    }



    .header {


        .logo {
            font-size: 2rem;
        }


        // Гамбургер
      

    }


    .cat__nav__sec {
        overflow-y: scroll;

        .cat__nav__cart {
            display: none;
        }
    }

    .menu__block {
        gap: 2rem;

        .menu__block__con {
            grid-template-columns: repeat(2, 1fr);
            gap: 1rem;
        }
    }
    .footer {
        &.bottom-marged{
            padding-bottom: 6rem;
        }
    }
}
