@media (max-width: $sm) {




    // Header
    .header {
        grid-template-columns: 8fr 1fr;
        gap: 0.5rem;
        align-items: center;

        .logo {
            font-size: 3rem;
            color: $white;
            order: 1;
        }

        .phone {
            order: 5;

            a {
                font-size: 0.9rem;
            }

            span {
                display: none;
            }

        }

        .address {

            order: 3;

            span {
                display: none;
            }

            p {
                font-size: 0.9rem;
            }
        }

        .user__log {
            display: block;
            order: 4;
        }

        // Гамбургер
        .resp__nav {
            display: grid;
            position: relative;
            order: 2;


            #menu__toggle {
                display: block;
                opacity: 0;
            }

            #menu__toggle:checked~.menu__btn>span {
                transform: rotate(45deg);
            }

            #menu__toggle:checked~.menu__btn>span::before {
                top: 0;
                transform: rotate(0);
            }

            #menu__toggle:checked~.menu__btn>span::after {
                top: 0;
                transform: rotate(90deg);
            }

            #menu__toggle:checked~.menu__box {
                visibility: visible;
                left: 0;
            }

            .menu__btn {

                align-items: center;
                top: 20px;
                left: 20px;

                width: 26px;
                height: 26px;

                cursor: pointer;
                z-index: 6;
            }

            .menu__btn>span,
            .menu__btn>span::before,
            .menu__btn>span::after {
                display: block;
                position: absolute;

                width: 100%;
                height: 2px;

                background-color: $yellow;

                transition-duration: .25s;
            }

            .menu__btn>span::before {
                content: '';
                top: -0.7rem;
            }

            .menu__btn>span::after {
                content: '';
                top: 0.7rem;
            }

            .menu__box {
                display: block;
                position: fixed;
                visibility: hidden;
                top: 0;
                left: -100%;

                width: 100%;
                height: 100%;

                margin: 0;
                padding: 80px 0;

                list-style: none;

                background-color: $primary;
                box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

                transition-duration: .25s;
                z-index: 5;
            }

            .menu__item {
                display: block;
                padding: 12px 24px;

                color: #333;


                font-size: 20px;
                font-weight: 600;

                text-decoration: none;

                transition-duration: .25s;
            }

            .menu__item:hover {
                background-color: $secondary;
            }
        }
    }

    // Navigation
    .cat__nav__sec {
        padding: 1rem 0.5rem 0.5rem 1rem;


        .cat__nav {

            gap: 0.5rem;
            overflow-y: scroll;
            padding-bottom: 1rem;
            margin-bottom: 0.4rem;

            .cat__nav__con {
                padding: 0.5rem 0.5rem 0.5rem 0rem;
                border-radius: 0.5rem;
                font-size: 0.8rem;
            }
        }

        .cat__nav__cart {
            display: none;
        }
    }

    .menu__block {
        position: relative;

        .heading {
            font-size: 3.2rem;
        }

        .menu__block__con {
            grid-template-columns: 1fr;

            .item {
                padding: 1rem;

                .item__content {
                    .card__heading {
                        font-size: 1.6rem;
                    }
                }
            }
        }



    }

    // Footer
    .footer {
        .logo {
            font-size: 2rem;
            word-break: break-word;
            flex: 1;
        }
    }


    .cart__section {
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
        gap: 2rem 0;

        .cart__empty {
            grid-template-columns: 1fr;
            gap: 2rem;
        }

        .cart__result {



            .cart__result__list {
                .cart__item {
                    grid-template-columns: 1fr 6fr 2fr 3fr;
                    gap: 0.5rem;
                    padding: 1rem 0;
                    background: none;
                    border: 0;
                    border-radius: 0;
                    border-bottom: 2px solid $gray-700;

                    .cart__item__image {
                        display: none;
                    }

                    .cart__item__desc {
                        order: 2;

                        .cart__item__title {
                            font-size: 0.9rem;
                            font-weight: 600;
                            line-height: 1rem;

                            span {
                                font-size: 0.8rem;
                                font-weight: 600;
                            }
                        }
                    }

                    .cart__item__button {
                        order: 3;

                        .inline__button {
                            input {
                                font-size: 1rem;
                            }
                        }
                    }

                    .cart__item__del {
                        order: 1;
                        padding: 0;
                    }

                    .cart__item__price {
                        order: 4;
                        font-size: 1rem;
                        text-align: end;
                    }
                }


            }

            .cart__pricing {
                padding: 0.5rem 1rem;
                position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                background: $yellow;
                justify-content: space-between;

                .cart__text {
                    font-size: 1.7rem;
                    color: $primary;

                }

                a {
                    border-color: $primary;
                    color: $primary;
                    padding: 0.5rem;
                    text-transform: capitalize;
                }
            }


        }

        .cart__offer {


            .cart__cat__heading {
                padding: 0;
                font-size: 1.5rem;

            }

            .cart__offer__list {
                grid-template-columns: 1fr;

                .offer__item {
                    grid-template-columns: 1fr 2fr;
                }


            }
        }


    }

    .cat__nav__cart.mobile {
        display: block;
            position: fixed;
            bottom: 0;
            right: 0;
            left: 0;
          
        .cart {
            
            background: $yellow;
           
            a {
                padding: 0.5rem 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                

                .cart__name {
                    font-size: 1.7rem;
                    
                    color: $primary;
                    font-weight: 300;
                    span{
                        font-weight: 700;
                    }
                }
                .cart__icon{
                    border: 2px solid $primary;
                    border-radius: 0.5rem;
                    color: $primary;
                    font-weight: 600;
                    padding: 0.5rem;
                    display: flex;
                    align-items: center;
                    font-weight: 800;
                }
            }
        }
    }
}
