@media (min-width: $xl) and (max-width: $xxl) {
.header{
   
    .logo{
        font-size: 3.6rem;
    }
    .phone span, .address span{
        display: none;
    }
}
.menu__block {
    .menu__block__con{
        grid-template-columns: repeat(3, 1fr);
    }
}
}