@media (min-width: $xxl) {
    .header {

        .logo {
            font-size: 3.6rem;
        }
        .address,.phone{
            font-size: 1.1rem;
        }

        .resp__nav {

            .menu__box {
                align-items: center;
                gap: 1rem;
            }
        }

    }

    .menu__block {
        .menu__block__con {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
