@media (min-width: $xl) and (max-width: $xxl) {
    .header {

        .logo {
            font-size: 3.6rem;
        }

        .resp__nav {

            .menu__box {
                gap: 1rem;
                align-items: center;
            }
        }

    }

    .menu__block {
        .menu__block__con {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}
