.checkout__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 0 1rem;
    gap: 2rem;

    .delivery__sec {
        background: linear-gradient($secondary, $primary);
        border-radius: 1rem;
        border: 2px solid $primary;
        box-shadow: 0 10px 15px -3px rgb(31 41 55), 0 4px 6px -2px rgb(0 0 0 / 78%);

        .delivery__heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 1.5rem;
            border-bottom: 2px solid $yellow;

            .title {
                font-size: 2rem;
                font-weight: 800;
                color: white;

            }

            a {
                &:hover {
                    color: $yellow;
                }
            }
        }
    }

    .tabset {
        padding: 1.5rem;
        display: grid;
        gap: 1.5rem;

        input.input__tab {
            display: block;
            /* "enable" hidden elements in IE/edge */
            position: absolute;
            /* then hide them off-screen */
            left: -100%;
        }

        ul {
            position: relative;
            z-index: 999;
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr;
            text-align: center;




            li {
                background: $primary;

                &:first-child {
                    border-radius: 2rem 0 0 2rem;
                }

                &:last-child {
                    border-radius: 0 2rem 2rem 0;
                }

                label {
                    -webkit-touch-callout: none;
                    -webkit-user-select: none;
                    -khtml-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    display: inline-block;
                    padding: 0.8rem 0;
                    color: $gray-300;
                    border-radius: 2rem;
                    font-weight: 700;
                    width: 100%;

                }
            }
        }

        div {
            position: relative;

            color: $white;

            section {
                position: absolute;
                top: -999em;
                left: -999em;
                display: grid;
                gap: 1.5rem;

                .map {
                    border: 2px solid $primary;
                    margin: 0 -0.5rem -0.5rem -0.5rem;
                    border-radius: 0 0 1rem 1rem;
                    overflow: hidden;
                }

                h2 {
                    font-weight: 800;
                    font-size: 1.4rem;
                }



            }
        }
    }
}


.tabset>input:nth-child(1):checked~ul li:nth-child(1) label,
.tabset>input:nth-child(2):checked~ul li:nth-child(2) label,
.tabset>input:nth-child(2):checked~ul li:nth-child(2) label,
.tabset>input:nth-child(2):checked~ul li:nth-child(2) label {
    background: $yellow;

    color: $primary;

}



.tabset>input:nth-child(1):checked~div>section:nth-child(1),
.tabset>input:nth-child(2):checked~div>section:nth-child(2),
.tabset>input:nth-child(2):checked~div>section:nth-child(2),
.tabset>input:nth-child(2):checked~div>section:nth-child(2) {
    position: Static;
}

.form__group {
    display: grid;
    gap: 1rem;

    &.time__grid {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "now time"
            "chose-time time";
    }

    .form__field {
        display: flex;
        align-items: center;

        input[type=radio] {
            position: relative;
            left: 0;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            border-radius: 50%;
            width: 1rem;
            height: 1rem;
            border: 2px solid $gray-400;
            flex: none;
            margin: 0 0.5rem 0 0;



            &:checked {
                border: 2px solid $yellow;
                background-color: $yellow;

            }
        }

        label {
            font-size: 0.9rem;
            font-weight: 300;
        }

        &.now {
            grid-area: now;
        }



        &.chose-time {
            grid-area: chose-time;
        }


    }

    .form__field__add {
        &.time {
            grid-area: time;

            input[type="time"] {}
        }
    }


}

.form__group__add {
    display: grid;
    gap: 1rem;

    grid-template-rows: auto;

    &.address__form {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "street street street street"
            "house house appartment appartment"
            "entrance floor code code"
        ;
    }

    &.client__form {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "name phone"
            "comment comment"
    }
}

.form__field__add {
    background-color: $primary;
    display: flex;
    align-items: center;
    border-bottom: 2px solid transparent;

    &.street {
        grid-area: street;
    }

    &.house {
        grid-area: house;
    }

    &.appartment {
        grid-area: appartment;
    }

    &.entrance {
        grid-area: entrance;
    }

    &.floor {
        grid-area: floor;
    }

    &.client-code {
        grid-area: code;
    }

    &.name {
        grid-area: name;
    }

    &.phone {
        grid-area: phone;
    }

    &.comment {
        display: grid;
        grid-area: comment;

        label {
            padding: 1rem 1rem 0 1rem;
        }
    }


    &:focus-within {
        border-color: $yellow;
    }

    &:focus-within label {
        color: $yellow;
    }

    input {
        padding: 1rem 0;
        background-color: $primary;
        color: $gray-300;
        font-weight: 600;
        width: 100%;

        &::placeholder {
            /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: $gray-300;
            opacity: 1;
            /* Firefox */
        }

        &:-ms-input-placeholder {
            /* Internet Explorer 10-11 */
            color: $gray-300;
        }

        &::-ms-input-placeholder {
            /* Microsoft Edge */
            color: $gray-300;
        }

        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus {
            -webkit-box-shadow: 0 0 0px 1000px $primary inset;
            -webkit-text-fill-color: white;
            transition: background-color 5000s ease-in-out 0s;

        }


        &:focus {
            outline: none;
        }

        // Timepicker
        &[type="time"] {
            border: none;
            width: 100%;
            padding: 0;
            height: 100%;


            &::-webkit-datetime-edit-fields-wrapper {
                display: flex;

            }

            &::-webkit-datetime-edit-text {
                ::-webkit-datetime-edit-text {
                    padding: 4px 4px;
                }
            }

            &::-webkit-datetime-edit-hour-field {
                color: $white;
                padding: 1rem;

                &:focus {
                    background: $yellow;
                    color: $primary;
                }
            }

            &::-webkit-datetime-edit-text {
                padding: 1rem 4px;
            }

            &::-webkit-datetime-edit-minute-field {
                color: $white;
                padding: 1rem;

                &:focus {
                    background: $yellow;
                    color: $primary;
                }
            }

            &::-webkit-calendar-picker-indicator {
                filter: invert(0.5) sepia(2) saturate(8) hue-rotate(10deg);
                font-size: 2rem;
                padding-right: 0.5rem;






            }
        }
    }


    textarea {
        background-color: $primary;
        border: 0;
        padding: 1rem;
        color: $gray-300;
        font-size: 0.9rem;
        font-weight: 600;

        &:focus {
            outline: none;
        }
    }

    label {
        padding: 0 1rem;
        font-size: 0.9rem;
        font-weight: 500;
        color: white;

        &:focus-within {
            color: $yellow;
        }

    }


}




.privacy {
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 300;

    a {

        text-decoration: underline;
        // &:hover {

        // }
    }
}



@media (max-width: $sm) {
    .checkout__section {
        grid-template-columns: 1fr;

        .delivery__sec {
            border-radius: 0.5rem;

            .delivery__heading {
                flex-direction: column;
                align-items: flex-start;
                padding: 1rem;
            }

            .tabset {
                padding: 1rem;
                gap: 1rem;
            }
        }
    }
    .form__group__add.address__form{
        grid-template-areas:
        "street street street street"
        "house house house house"
        "appartment appartment appartment appartment"
        "entrance entrance floor floor"
        "code code code code";
    }

    .form__group__add.client__form{
       
        grid-template-areas:
         "name name"
        "phone phone"
        "comment comment";
    }
    .form__group.time__grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                "now"
                "chose-time"
                "time";
        
    }

}
